$color-white: #FFF;
$color-black: #000;
$color-primary: #000;
$color-border: #CCC;
$color-background: #EAEAEA;

$grey-dark: #3E3E3E;
$blue-light: #E7ECF5;
$blue-medium: #B4CAE9;

$pub-inter-ultralight: #E8E1F0;
$pub-inter-light: #d7cae6;
$pub-inter-med: #a481d9;
$pub-inter: #897AA0;
$pub-inter-dark: #50496B;
$pub-intra-ultralight: #F6DBDB;
$pub-intra-light: #f0bfbf;
$pub-intra-med: #dd6d6d;
$pub-intra: #cb8080;
$pub-intra-dark: #a75d5d;

$grey-0: #fcfcfc;
$grey-1: #f8f8f8;//-10
$grey-2: #ECEFF2;//-9
$grey-3: #e5e5e5;//-8
$grey-4: #dddddd;//-7
$grey-5: #d6d6d6;//-6
$grey-6: #c6c6c6;//-5
$grey-7: #c1c1c1;//-4
$grey-8: #afaaaa;
$grey-9: #939393;
$grey-10: #818181;
$grey-medium: #5f5f5f;
$blue-ultralight: #f5f7fa;
$blue-dark: #7EA5D7;
$blue-fluo: #009ADB;
$blue-fluo-2: #19aeed;
$blue-fluo-3: #45bdf0;
$blue-fluo-light: #78d7ff;
$blue-fluo-light-2: #bddfee;
$blue-fluo-ultralight: #d0ecf8;
$orange-light: #FFF2CF;
$orange: #FEBE12;
$egg: #EFEBE3;
$egg-dark: #dddad4;
$red-fluo: #e80000;
$red-fluo-light: #ff6868;
$green-fluo: #23cc03;
$green-fluo-light: #8dff78;

$flux-1: #B7744F;
$flux-2: #EFA96F;
$flux-3: #FFE094;
$stock-1: #A3352E;
$stock-2: #C96F75;
$stock-3: #EF8F8F;
$info-1: #2C4A7C;
$info-2: #4F72A6;
$info-3: #A2B4C6;
$sport-1: #006837;
$sport-2: #3E8A4E;
$sport-3: #A0D64C;
$divers-1: #50496B;
$divers-2: #897AA0;
$divers-3: #C9B2D3;

$live: #C45037;
$veille: #EF861D;
$conso: #449557;
$vision: #1f77b4;
$nonlive: #b7a8e0;

$hom: #17BAE2;
$fem: #D9582F;
$ind: #10B110;

$green: #10B110;
$red: #ed0909;
$cal-color: #C12943;
$fluo-blue: #009ADB;
$ultralight-red: #fff0f0;
$ultralight-blue: #f5f7fa;
$light-blue: #E7ECF5;
$medium-blue-2: #cbddf2;
$medium-blue: #B8CDE6;
$dark-blue: #85AADA;

$tab-light: #F1F8E9;
$tab-med: #DCEDC8;
$tab-med-2: #dfefce;
$tab-fluo: #cbdbb9;

$blue-med: #c7d9f2;
$sfrblack: #222222;
$sfrblackalt: #4b4b4b;
$sfrback: #F2F2F2;
$magback: #fafafa;

$periode: #939393;
$vs1: #3A80B7;
$vs2: #92c7f2;
$vs3: #f29292;

$zone-a: #ffa500;
$zone-b: #40c7de;
$zone-c: #a3d700;


