@import './constants/breaks';
@import './constants/colors';

*, *:before, *:after {
  box-sizing: border-box;
}
.Grid{
  position: relative;
  font-family: 'Lato';
  color: $sfrblack;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

  p {
    margin: 0;
  }

  .Title{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    padding: 15px 20px;
    user-select: none;
    border-radius: 2px 2px 0 0;
    background-color: $sfrblack;
  }

  .Chn-title {
    display: block;
    text-align: center;
    padding: 15px;
    background-color: #f7f8fa;
    border-bottom: solid $grey-5 1px;
  }

  .Chns{
    display: flex;
    .Chn{
      flex: 1;
      &:not(:last-child){
        border-right: solid $grey-5 1px;
      }
    }
  }

  .show {
    font-size: 11px;
    border-bottom: 1px solid $grey-5;
    padding: 0 15px;
    overflow: hidden;
    .show-title {
      font-weight: 700;
      +p {
        color: #9fa7b3;
        margin-top: 5px;
      }
    }
  }
}