@import './constants/breaks';
@import './constants/colors';

.Grid{
  padding: 0 12px 12px 12px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  overflow: hidden;
  position: relative;

  .Title{
    margin: 0 -12px 12px -12px;
    border-bottom: solid $grey-5 1px;
    text-align: center;
    padding: 4px 0;
    border-top: solid $grey-medium 1px;
    color: $grey-medium;
    user-select: none;
  }

  .Chns{
    display: flex;

    .Chn{
      flex: 1;
      text-align: center;

      &:not(:last-child){
        border-right: solid $grey-5 1px;
      }
    }
  }
}